<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    <button type="submit" name="update" value = "update">Update</button>
</form>
</body>
</html>

<!--        <div class="modal" id = "Create">-->
<!--          <div class="modal-dialog" role="document">-->
<!--            <div class="modal-content">-->
<!--              <div class="modal-header">-->
<!--                <h5 class="modal-title">Create Note</h5>-->
<!--              </div>-->
<!--              <div class="modal-body">-->
<!--                  <div class="col-md-4">-->
<!--                      {{ wtf.quick_form(form) }}-->
<!--                  </div>-->
<!--              </div>-->
<!--              <div class="modal-footer"> </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--<form method="post" action="{{url_for('main.update', username=title, id=note.id)}}">-->
<!--    <div class="container">-->
<!--        <div>-->
<!--            <div>{{form.title.label}}</div>-->
<!--            <div>{{form.title(value=note.name, size = 50)}}</div>-->
<!--        </div>-->
<!--        <div>-->
<!--            <div>{{form.content.label}}</div>-->
<!--            <div>{{ form.content(placeholder = note.content, cols=52, rows=10) }}</div>-->
<!--        </div>-->
<!--        {{form.submit(class="btn btn-success btn-block")}}-->
<!--    </div>-->
<!--</form>-->